extends base

block endjs
	script(src="http://static.ak.fbcdn.net/connect/en_US/core.js")

block content
	.container	
		.row-fluid
			.span12.centered
				br
				br
				.box
					h1.shat-title Shat
					span.muted A better Facebook chat
					br
					br
					br
					a.btn.btn-large.btn-fb(href="/auth/facebook") Connect with Facebook
